.col {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90%;
  width: 50%;
}

.tasks > div:first-child {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 0px 96px;
}

.tasks .transparent_box {
  margin: 2%;
  padding: 2%;
  width: 93%;
  height: 600px;
}

.cardList {
  height: fit-content;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  overflow-y: scroll;
  overflow-x: hidden;
}

.plusBtn {
  color: #f2a969;
  font-size: 32px;
  height: 50px;
  width: 70px;
  border-radius: 39px;
}
.plusBtn:hover {
  background-color: rgb(249, 249, 249);
  box-shadow: 1px 0px 15px #ce8f58;
}

@media screen and (max-width: 800px) {
  .col {
    height: 90vh;
    width: 100%;
  }
  .tasks .transparent_box {
    height: 80vh;
  }
  .tasks > div:first-child {
    padding: 0px 6px;
  }
}
