body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-family: "ABeeZee", sans-serif;
  text-align: center;
  transition: 0.3s;
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 50px;
}

.router_output {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
}

.btn {
  background: white;
  border: none;
  cursor: pointer;
}

.btn:focus {
  outline: none;
}

.maxWidth {
  width: 100%;
}

.maxHeight {
  height: 100%;
}

.centerAlign {
  display: flex;
}

.column {
  align-items: center;
  flex-direction: column;
}

.Main {
  color: white;
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.meta {
  display: flex;
}

.Title {
  margin: 16px 5px;
  color: white;
  font-size: 45px;
  -webkit-text-stroke: 3px white;
}

.charts > div:first-child {
  display: flex;
  flex-wrap: wrap;
  padding: 30px 96px;
  width: 90%;
  height: 90%;
}

.qList {
  height: fit-content;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  height: fit-content;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
}

.clockContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 70px);
}

#clock {
  color: white;
  font-size: 200px;
  margin: 70px;
  font-weight: 100;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.circular_btn {
  height: 194px;
  width: 194px;
  border: 7px solid black;
  border-radius: 50%;
  user-select: none;
}
.circular_btn#play {
  width: 170px;
  padding-left: 24px;
  border-color: white;
}

.no-btn-styles,
.no-btn-styles:focus,
.no-btn-styles:active {
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: 0 !important;
  outline-style: none;
}

.Focus .no-btn-styles {
  height: 210px;
  width: 225px;
}

.round {
  border-radius: 50%;
}

.subtitle {
  color: white;
  font-size: 68px;
  font-weight: 170;
  text-align: left;
}

.orange {
  color: #f2a969;
}

.subHeader {
  padding: 30px 120px 0px;
  display: flex;
  justify-content: space-between;
}

.subHeader .subtitle {
  font-weight: 600;
}

.transparent_box {
  background: rgb(255, 255, 255, 0.3);
  display: flex;
  flex-flow: column;
  border-radius: 10px;
}

.charts .transparent_box {
  margin: 13px;
  padding: 0px;
}

.transparent_box > div:first-child {
  width: 95%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputField {
  width: 82%;
  border: 2px solid #f2a969;
  color: #867361;
  border-radius: 50px;
  height: 20px;
  font-size: 25px;
  margin: 15px;
  padding: 15px 25px;
}
.inputField:focus {
  outline: none;
  border: 3px solid #f2a969;
  box-shadow: 1px 0px 5px #ce8f58;
}

.inputField::placeholder {
  color: #f2a969;
}

.left_col {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 55%;
}

.right_col {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  border-left: 2px solid rgb(255, 255, 255, 0.5);
  margin-top: 2%;
  height: 80vh;
  width: 44%;
}

@media screen and (max-width: 800px) {
  .left_col {
    height: 90vh;
    width: 100%;
  }

  .right_col {
    width: 100%;
  }

  .right_col {
    border-top: 2px solid rgb(255, 255, 255, 0.5);
    margin-top: 5%;
  }

  .subHeader {
    padding: 40px 10px;
    display: flex;
    justify-content: space-between;
  }

  .Title {
    font-size: 30px;
    margin: 20px 0px;
    -webkit-text-stroke: 1px white;
  }

  .subtitle {
    font-size: 50px;
  }

  .charts > div:first-child {
    padding: 0px 6px;
    width: 100%;
    height: 90%;
  }
}

@media screen and (max-width: 600px) {
  #clock {
    font-size: 130px;
  }
  .circular_btn {
    height: 120px;
    width: 120px;
  }
  .circular_btn#play {
    width: 120px;
    padding-left: 8px;
  }
}

@media screen and (max-width: 400px) {
  #clock {
    font-size: 100px;
  }
}
